<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="PDFStopShars" value="* * * * * * * * * * * * * * * * * * * * * * *"/>
    <add key="NAICSParam" value="NORTH AMERICAN INDUSTRY CLASSIFICATION SYSTEM"/>
    <add key="NSN2Param" value="NSN/MATERIAL:"/>
    <add key="ItemDescriptionParam" value="ITEM DESCRIPTION"/>
    <add key="QuantityParam" value="CLIN"/>
    <add key="DeliveryInDay" value="DELIVERY (IN DAYS):"/>
    <add key="CageParam" value="Procurement History for"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>